#ignorar os arquivos relacionados ao curso
#links importantes para o projeto
#https://www.cypress.io/
#https://www.youtube.com/watch?v=YV3qPvhJ-rg&list=TLPQMjUxMTIwMjJlAvD-2F6LCA&index=2
#https://www.youtube.com/watch?v=VYG-gzA1ahY
#https://cursos.alura.com.br/course/integracao-continua-testes-automatizados-pipeline-github-actions/task/108460