#ignorar os arquivos relacionados ao curso
#links importantes para o projeto
#https://www.cypress.io/
#https://www.youtube.com/watch?v=mfZfhp6Ql8c&t=144s
#https://cursos.alura.com.br/course/integracao-continua-testes-automatizados-pipeline-github-actions/task/108460
#https://cwi.com.br/blog/testes-automatizados-cypress-e-cucumber/